<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<title>Build Test</title>
</head>

<body>	
<noscript>No Surpport Script</noscript>
<section class="app" id="app">
    <section class="log1x" style="padding: 20px 0 10px 0;">
        <% for (var item in htmlWebpackPlugin.files.js) { %>
            <div><%= htmlWebpackPlugin.files.js[item] %></div>
        <% } %>
    </section>
    <section style="padding: 10px 0 10px 0;">
        <%= htmlWebpackPlugin.files.chunks ? htmlWebpackPlugin.files.chunks[0] : 'no chunk' %>
    </section>
    <section class="log2x" style="padding: 10px 0 20px 0;">
        <% for (var item in htmlWebpackPlugin.files.css) { %>
            <div><%= htmlWebpackPlugin.files.css[item] %></div>
        <% } %>
    </section>
</section>
</body>
</html>