<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<title>Build Test</title>
</head>

<body>	
<noscript>No Surpport Script</noscript>
<section class="app" id="app">
    <% for (var item in htmlWebpackPlugin.files.js) { %>
        <div><%= htmlWebpackPlugin.files.js[item] %></div>
    <% } %>
    <%= htmlWebpackPlugin.files.chunks ? htmlWebpackPlugin.files.chunks[0] : 'no chunk' %>
</section>
</body>
</html>