<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<script crossorigin src="https://cdn.bootcdn.net/ajax/libs/jquery/2.0.0/jquery.js"></script>
<title>Build Test</title>
</head>

<body>	
<noscript>No Surpport Script</noscript>
<section class="app" id="app"></section>
<script>window.htmlWebpackPlugin = <%= JSON.stringify(htmlWebpackPlugin.files) %></script>
</body>
</html>